body{
    background-color: purple;
    color: orange;
}

header{
    text-align: center;
}

img{
    width: 400px;
}

a{
    color: orange;
}

h2{
    text-decoration-line: underline;
}

q{
    font-style: italic;
}
