/* Grid CSS goes here */

body {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas: 
        "header header"
        "main aside"
        "footer aside";
}

main {
    grid-area: main;
}

header {
    grid-area:header;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

header section#topheader {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "date ribbon"
        "hype ribbon"
}

section#topheader div.date {
    grid-area: date;
}

section#topheader div.hype {
    grid-area: hype;
}

section#topheader div.ribbon {
    grid-area: ribbon;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "lead lead"
        "one two";
    gap: 20px;
}

main article.articleone {
    grid-area: lead;
}

main article.articletwo {
    grid-area: one;
}

main article.articlethree {
    grid-area: two;
}

/* Don't change anything below this comment */
 

html {
    height: 100%;
    font-size: 16px;
}

* {
    background-color: #F5F2E8;
}

body {
    margin: 50px;
    width: 90%;
    font-family: 'Newsreader', sans-serif;
}

header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

aside img {
    border-radius: 10px 10px 0 0;
}

section#topheader {
    width:100%;
}

section#topheader div.date {
    text-align: right;
    border-bottom: 20px double darkgray;
    padding-right: 25px;
    padding-top: 10px;
    font-size: 1.1rem;
}

section#topheader div.hype {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 600;
    color: darkslateblue;
    padding-top: 10px;
    text-align: center;
}

section#topheader div.ribbon img {
    width: 100%
}

main {
    margin-right: 20px;
}

main article.articleone img {
    width: 100%;
    border-radius: 50px;
    border: 5px inset lightblue;
}

main article.articleone > div:first-child {
    float: left;
    width: 50%;
}

main article.articleone > div:last-child {
    float: right;
    margin-left: 20px;
    width: 45%;
    text-align: left;
}

span.title {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: rgba(7, 152, 243, 0.2);
    padding: 5px;
}
span.text {
    display: block;
    margin-top: 20px;
    font-size: 1.1rem;
}

div.title {
    font-size: 1.2rem;
    font-style: italic;
    padding-top: 20px;
}

article.articlethree ol li {
    font-size: 1.2rem;
}

article.articletwo > div:first-child {
    margin-bottom: 10px;
}

footer {
    margin: 20px;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}





